<%- include('header') -%> <%- include('navbar') -%>

<div class="innerContainer">
  <div class="title">
    <h1><%= fullTitle %></h1>
    <p><%= fullDesc %>. <a href="/">Go back.</a></p>
  </div>
</div>

<%- include('footer') -%>
